<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CrowdSub</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script> <!--include jquery-->
    <script src="~/Scripts/faq.js"></script><!--FAQ javasript-->
    <script src="~/Scripts/moment-with-langs.js"></script> <!--Include moment date formatting-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index"><img src="~/Images/CrowdSub_Logo_V1_210x75.png" /></a> <!--the logo that leads to homepage-->
            </div>
            <div class="col-md-4">
                @using CrowdSubMain.Controllers
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    @Html.TextBox("search", "Search by title")
                    <input type="submit" value="Search" />
                }
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div id="wrapper">
        <div id="bar_title">
            <h2 class="container body-content" id="page_title">@ViewBag.Title</h2>
            <h4 class="container body-content" id="page_message">@ViewBag.Message</h4>
            @*Serch bar begin 
            <div class="row" id="search_row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <select class="btn btn-default" id="search_dropdown">
                                <option value="0">English</option>
                                <option value="1">Icelandic</option>
                            </select>
                            <button class="btn btn-default" type="button" id="search_dropdown">Search</button>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            @* Searchbar end *@
        </div>

        

        <div id="content">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            <div class="container body-content">
                <footer>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("FAQ", "faq", "Home")</li>
                        <li>@Html.ActionLink("Help", "help", "Home")</li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>