<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CrowdSub</title>
    <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script> 
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>-->

    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
    @Styles.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @* Navbar fixed to top *@
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar_fixed_top">
        <div class="container">
            <a href="/"><img id="logo" src="~/Images/CrowdSub_Logo_V1_210x75.png" width="261" height="67" /></a> @*LOGO*@


                @* LOGIN *@
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class=" container body-content" >
            <ul class="nav navbar-nav">
                <li>
                    <h2 class="message">@ViewBag.Title</h2>
                    <h4 class="message">@ViewBag.Message</h4>
                </li>
                
            </ul>
            @* Searchbar *@
            <div class="navbar-form">
                <div class="form-group">
                    @using (Html.BeginForm("index", "Home", FormMethod.Post))
                    {
                        @Html.TextBox("search", "Search by title")
                        <input type="submit" class="btn btn-primary btn-lg" value="Search" />
                    }
                </div>
            </div>
        </div>
        </div>



        

        <div id="content">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>

        @* Navbar fixed to bottom *@
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <ol class="breadcrumb">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("FAQ", "faq", "Home")</li>
                </ol>
            </div>
    </nav>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>