<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CrowdSub</title>
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    @Styles.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css")
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @* Navbar fixed to top *@
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar_fixed_top">
        <div class="container">
            <a href="/Home/Index"><img id="logo" src="~/Images/CrowdSub_Logo_V1_210x75.png" width="261" height="67" /></a> @*LOGO*@


                @* LOGIN *@
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
           </div>
    </nav>

    <div class="jumbotron">
        <div class=" container body-content" >
            <ul class="nav navbar-nav">
                <li>
                    <h2 class="message">@ViewBag.Title</h2>
                    <h4 class="message">@ViewBag.Message</h4>
                </li>
                
            </ul>
            @* Searchbar *@
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "navbar-form", @id="search_bar", @role="search"}))
{ 
           
              <div id="navcontainer">
                  <ul id="navlist">
                      <li>@Html.TextBox("search", "", new { @class = "form-control", @placeholder = "Search" })</li>
                      <li>
                          @*<select class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <option value="0">English</option>
                              <option value="1">Icelandic</option>
                          </select>*@
                         
                          <button type="submit" class="btn btn-default">Search</button>
                      </li>
                      <li id="list_block">
                          @Html.ActionLink("Top downloads", "TopDownloadedSubtitles", "Subtitle")
                          @Html.ActionLink("Recent subtitles", "RecentSubtitles", "Subtitles")
                          @Html.ActionLink("Top requests", "top_request", "Home")
                      </li>

                  </ul>
              </div>
}
        </div>
    </div>

    <div id="content">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

        @* Navbar fixed to bottom *@
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <ol class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "faq", "Home")</li>
                </ol>
            </div>
        </nav>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>