@model IEnumerable<CrowdSub.Models.request>

@{
    ViewBag.Title = "All Requests";
}

<h2>All Requests</h2>

<table style="width:50">
    <thead>
        <tr>
            <th>Request Title</th>
            <th>Request Language</th>
            <th>Date Requested</th>
            <th>Request Type</th>
            <th>Request Link</th>
        </tr>
    </thead>

    <tbody>

        @*Þarf að klára þegar virkni er komin*@
        @*@foreach (var item in Model)
        {
        <tr>
            <td>@item.request_name</td>
            <td>@item.request_lang</td>
            <td>@item.request_date_created</td>
            <td>@item.request_type</td>
            <td>@item.request_link</td>
        </tr>
        }*@

    </tbody>
</table>
