@*ATHUGA ÞETTA!!!!*@
@model IEnumerable<CrowdSub.Models.top_downloads_model>

@{
    ViewBag.Title = "Top Requests";
}

<!--This is a view (cshtml) for the Top requests-->

<table width="400">
    <thead>
        <tr>
            <th>Title</th>
            <th>Video type</th>
            <th>Subtitle type</th>  
            <th>Subtitle language</th> 
            <th>Votes</th>
        </tr>
    </thead>

    <!--Here below there should be a Razor code with forloop which access the database for the top requests (?) 
        ATH newsapplication verkefnið-->

    @*<tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.video.video_title</td>
                <td>@item.video.video_type</td>
                <td>@item.subtitles.subtitle_version</td>
                <td>@item.subtitles.subtitle_language</td>
                <td>@item.requests.upvotes</td>  <!--ATHUGA ÞETTA FYRIR FJÖLDA REQUESTA-->
            </tr>
        }
    </tbody>*@

    <tbody>
        <tr>
            <td>Braveheart</td>
            <td>Movie</td>
            <td>Hearing impaired</td>
            <td>English</td>
            <td>132</td>
        </tr>
        <tr>
            <td>Batman</td>
            <td>Movie</td>
            <td>Extended</td>
            <td>Icelandic</td>
            <td>564</td>
        </tr>
        <tr>
            <td>Suits</td>
            <td>TV shows</td>
            <td>Hearing impaired</td>
            <td>Icelandic</td>
            <td>5433</td>
        </tr>
    </tbody>
</table>

