@*ATHUGA ÞETTA!!!!*@
@model IEnumerable<CrowdSub.Models.top_downloads_model>
@{
    ViewBag.Title = "Top Downloads";
}

<h2>Top downloads</h2>

<!--This is a view (cshtml) for the Top downloads-->
<table width="400">
    <thead>
        <tr>
            <th>Title</th>
            <th>Video type</th>
            <th>Subtitle type</th>
            <th>Subtitle language</th>
            <th>Downloads</th>
        </tr>
    </thead>

    <!--Here below there should be a Razor code with forloop which access the database for the top downloads (?)
        ATH newsapplication verkefnið-->


    <!--NOTA ÞETTA ÞEGAR VIRKNIN ER KOMIN-->
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.video.video_title</td>  <!--CHECK user can click the video title to access the video profile-->
                <td>@item.video.video_type</td>
                <td>@item.subtitles.subtitle_version</td>
                <td>@item.subtitles.subtitle_language</td>
                <td>@item.subtitles.subtitle_download_count</td>
            </tr>
        }
    </tbody>*@

    <tbody>
        <tr>
            <td>Braveheart</td>
            <td>Movie</td>
            <td>Hearing impaired</td>
            <td>English</td>
            <td>132</td>
        </tr>
        <tr>
            <td>Batman</td>
            <td>Movie</td>
            <td>Extended</td>
            <td>Icelandic</td>
            <td>564</td>
        </tr>
        <tr>
            <td>Suits</td>
            <td>TV shows</td>
            <td>Hearing impaired</td>
            <td>Icelandic</td>
            <td>5433</td>
        </tr>
    </tbody>
</table>