@model CrowdSub.Models.video

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>video</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.video_created_by_user_id, "video_created_by_user_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("video_created_by_user_id", String.Empty)
                @Html.ValidationMessageFor(model => model.video_created_by_user_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.video_title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.video_title)
                @Html.ValidationMessageFor(model => model.video_title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.video_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.video_type)
                @Html.ValidationMessageFor(model => model.video_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.video_year_published, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.video_year_published)
                @Html.ValidationMessageFor(model => model.video_year_published)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.video_date_created, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.video_date_created)
                @Html.ValidationMessageFor(model => model.video_date_created)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.video_date_updated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.video_date_updated)
                @Html.ValidationMessageFor(model => model.video_date_updated)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
