@model CrowdSub.Models.video

@{
    ViewBag.Title = Html.DisplayFor(model => model.video_title);
}


@Html.DisplayFor(Model => Model.video_title)

<div>
    <!--The image of the video and a short description-->
    <hr />

    
        <span>!!!!!Some image!!!!!!</span>
        <div>
            <b>Video Description: </b>@Html.DisplayFor(Model => Model.video_description)
        </div>
        
    <div>
        <!--Header that contains the video title info-->
        <ul>
            <li><b>Video title: </b> @Html.DisplayFor(model => model.video_title)</li>
            <li><b>Video type: </b> @Html.DisplayFor(model => model.video_type)</li>
            <li><b>Year published: </b> @Html.DisplayFor(model => model.video_year_published) </li>
        </ul>
    </div>
</div>


<div>
    <ul>
        <li><a href="/video/edit">Subtitle edit</a></li>
        <li><a href="/video/upload">Upload subtitle</a></li>
        <li><a href="/video/download">Download subtitle</a></li>
        <li><a href="/video/export_as">Export subtitle as</a></li>
        <li><a href="/video/subtitle_request">Request as subtile for this movie</a></li>
    </ul>
</div>



