@model CrowdSubMain.Models.subtitle_profile_model

@{
    ViewBag.Title = "Subtitle Profile";
}

<h2>Subtitle Profile</h2>
<div class="">
    <div class="">
        <!--SRT Parser and menu creator.-->
        @Scripts.Render("~/Scripts/srt_parser_menu.js")
        @Styles.Render("~/Content/subtitle-edit/srt.css")
        @Scripts.Render("~/Scripts/a_jscript.js")
        <h4>subtitle</h4>
        <hr />
        @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.subtitle.subtitle_user_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subtitle.subtitle_user_id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.subtitle.subtitle_video_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subtitle.subtitle_video_id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.subtitle.subtitle_file_path)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subtitle.subtitle_file_path)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.subtitle.subtitle_date_created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subtitle.subtitle_date_created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.subtitle.subtitle_download_count)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subtitle.subtitle_download_count)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.subtitle.subtitle_language)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subtitle.subtitle_language)
                </dd>

            </dl>*@
        <div id="srt-select"></div>
        <!-- Cannot be a div, the parser has only been tested against textareas.-->
        <textarea id="srt">
            @Html.DisplayTextFor(model => model.srt_string)
            @*1
                00:00:50,739 --> 00:00:54,868
                And we're on in four, three,

                2
                00:00:54,952 --> 00:00:56,870
                two, one.*@
        </textarea>

    </div>

    <!--Returns the subtitle id which is then sent to the controller to relate comment to this particular subtitle-->
    <span id="this_subtitle_id" style="display : none">@Html.DisplayFor(modelItem => Model.subtitle.id)</span>
    
    <div class="">
        <ul id="Comments" class="list-group col-md-4" style="max-width: 560px;">
            @foreach (var item in Model.subtitle_comments)
            {
                <li class="list-group-item">
                    <p>
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="text-primary">@Html.DisplayFor(modelItem => item.user.UserName)</span><br />
                        <span>@Html.DisplayFor(modelItem => item.sc_comment)</span>
                    </p>
                    <p>
                        <span class="text-muted">@item.sc_date_created.ToString("dd. MMMM HH:mm") - </span>
                    </p>
                </li>
            }
            <li class="list-group-item">

                <div class="form-horizontal">
                    <label class="sr-only" for="CommentText">Comment</label>
                    <textarea class="form-control" rows="3" id="CommentText" name="CommentText"></textarea>
                    <p class="error" id="submitCommentError"></p>
                    <button class="btn btn-primary" id="senda">Send</button>
                </div>
                @Html.ValidationSummary(false)
            </li>
        </ul>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.subtitle.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
