@model CrowdSubMain.Models.subtitle_profile_model

@{
    ViewBag.Title = "Subtitle Profile";
}

<div>
    <!--SRT Parser and menu creator.-->
    @Scripts.Render("~/Scripts/srt_parser_menu.js")
    @Styles.Render("~/Content/subtitle-edit/srt.css")
    @Scripts.Render("~/Scripts/comment_script.js")

    <h4>@Html.DisplayFor(model => model.subtitle.subtitle_file_name)</h4>
    <hr />
    <!-- Empty modal div for modal popup.-->
    <div id="dialog"></div>
</div>
<ul>
    <li>@Html.DisplayFor(model => model.subtitle.subtitle_date_created)</li>
    <li>@Html.DisplayFor(model => model.subtitle.subtitle_download_count)</li>
    <li>@Html.DisplayFor(model => model.subtitle.subtitle_language)</li>
</ul>
    <div class="row">
        <div class="col-lg-8">
            <div id="srt-select"></div>
        </div>
        <div class="col-lg-4">
            <!--Returns the subtitle id which is then sent to the controller to relate comment to this particular subtitle-->
            <span id="this_subtitle_id" style="display : none">@Html.DisplayFor(modelItem => Model.subtitle.id)</span>
            <ul id="Comments" class="list-group" style="max-width: 560px;">
                @foreach (var item in Model.subtitle_comments)
                {
                    <li class="list-group-item">
                        <p>
                            <span id="sc_id" style="display : none">@Html.DisplayFor(modelItem => Model.subtitle.id)</span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="text-primary">@Html.DisplayFor(modelItem => item.user.UserName)</span>
                            <span>@Html.DisplayFor(modelItem => item.sc_comment)</span>
                        </p>
                        <p>
                            <span class="text-muted">@item.sc_date_created.ToString("dd. MMMM HH:mm") - </span>
                        </p>
                    </li>
                }
                <li class="list-group-item">

                    <div class="form-horizontal">
                        <label class="sr-only" for="CommentText">Comment</label>
                        <textarea class="form-control" rows="3" id="CommentText" name="CommentText"></textarea>
                        <p class="error" id="submitCommentError"></p>
                        <button class="btn btn-primary" id="senda">Send</button>
                    </div>
                    @Html.ValidationSummary(false)
                </li>
            </ul>

        </div>
    </div>
<!-- Cannot be a div, the parser has only been tested against textareas.-->
<textarea id="srt">
@Html.DisplayTextFor(model => model.srt_string)

</textarea>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.subtitle.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- Modal, won't be displayed-->
<div class="modal fade" id="srt-modal" tabindex="-1" role="dialog" aria-labelledby="srt-edit-line" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="srt-edit-line"></h4>
            </div> <!-- modal-header -->
            <div id="srt-dialog-form" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="srt-update">Save changes</button>
            </div>
        </div>
    </div>
</div>  