@model IEnumerable<CrowdSubMain.Models.subtitle>

@{
    ViewBag.Title = "Top Downloaded Subtitles";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table table-hover">
    <tr>
        <th>
            Title
        </th>
        <th>
            Subtitle name
        </th>
        <th>
            Date created
        </th>
        <th>
            Download count
        </th>
        <th>
            Language
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.video.video_title, "Profile", "Video", new { id = item.video.id}, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle_file_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle_date_created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle_download_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle_language)
            </td>
        </tr>
    }

</table>
