@model IEnumerable<CrowdSubMain.Models.subtitle>

@{
    ViewBag.Title = "TopDownloadedSubtitles";
}

<h2>TopDownloadedSubtitles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subtitle_video_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtitle_date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtitle_download_count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtitle_language)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subtitle_video_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtitle_date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtitle_download_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtitle_language)
        </td>
        <td>
            @Html.ActionLink("Go to video", "Profile", "Video", new { id = item.subtitle_video_id }, null)
        </td>
    </tr>
}

</table>
