@model IEnumerable<CrowdSubMain.Models.video>

@{
    ViewBag.Title = "top_downloads";
}

<h2>top_downloads</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.video_created_by_user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_year_published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_date_updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.video_created_by_user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_year_published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_date_updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>



<!--This is a view (cshtml) for the Top downloads-->
@*<table width="400">
    <thead>
        <tr>
            <th>Title</th>
            <th>Video type</th>
            <th>Subtitle type</th>
            <th>Subtitle language</th>
            <th>Downloads</th>
        </tr>
    </thead>

    Here below there should be a Razor code with forloop which access the database for the top downloads (?)
    ATH newsapplication verkefnið
    NOTA ÞETTA ÞEGAR VIRKNIN ER KOMIN
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.video.video_title</td>  CHECK user can click the video title to access the video profile
                    <td>@item.video.video_type</td>
                    <td>@item.subtitles.subtitle_version</td>
                    <td>@item.subtitles.subtitle_language</td>
                    <td>@item.subtitles.subtitle_download_count</td>
                </tr>
            }
        </tbody>
</table>*@