@model CrowdSubMain.Models.video

@{
    ViewBag.Title = "Create Video Profile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <!--A video information : Video title, video type, year published and video description-->
        <div id="video-information" class="form-group">
            <div>
                Title:
                @Html.EditorFor(model => model.video_title)
                @Html.ValidationMessageFor(model => model.video_title)
            </div>

            <div>
                Video type: 
                @Html.DropDownListFor(model => model.video_type, ViewBag.items as List<SelectListItem>) 
                @Html.ValidationMessageFor(model => model.video_type)
            </div>
            
            <div>
                Year published: 
                @Html.EditorFor(model => model.video_year_published)
                @Html.ValidationMessageFor(model => model.video_year_published) 
            </div>
            
            <div>
                Video description: 
                @Html.EditorFor(model => model.video_description)
                @Html.ValidationMessageFor(model => model.video_description) 
            </div>
            <div>
                Video poster:
                @Html.EditorFor(model => model.poster_link)
                @Html.ValidationMessageFor(model => model.poster_link)
            </div>
        </div>
        
        <!--The create button-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
