@model CrowdSubMain.Models.profile_view_model

@{
    ViewBag.Title = Html.DisplayFor(model => model.video.video_title);
}

@{
    ViewBag.Message = "Video Profile";
}

<h2>video_profile</h2>

<div>
    <h4>video</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.video.video_created_by_user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video.video_created_by_user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video.video_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video.video_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video.video_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video.video_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video.video_year_published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video.video_year_published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video.video_date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video.video_date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video.video_date_updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video.video_date_updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video.video_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video.video_description)
        </dd>
    </dl>
</div>



<table class="table">
    <tr>
        <th>
            <p>Video id</p>
        </th>
        <th>
           <p>Date created</p>
        </th>
        <th>
            <p>Downloads</p>
        </th>
        <th>
           <p>Language</p>
        </th>
        <th>
            <p>Video profile</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.subtitles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle_video_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle_date_created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle_download_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle_language)
            </td>
            <td>
                @Html.ActionLink("Go to video", "Profile", "Video", new { id = item.subtitle_video_id }, null)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.video.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>    
