@model CrowdSubMain.Models.profile_view_model

@{
    ViewBag.Title = Html.DisplayFor(model => model.video.video_title);
}

@{
    ViewBag.Message = Html.DisplayFor(model => model.video.video_type) + " / " + Html.DisplayFor(model => model.video.video_year_published);
}



<div class="media" id="profile_info">
    <a class="pull-left" href="#">
        <img src="@Html.DisplayFor(model => model.video.poster_link)" class="media-object" alt="Poster image is missing for this video profile. To fix this please edit video profile and provide us with an link to image" height="190" width="128">
    </a>
    <div class="media-body">
        <p>@Html.DisplayFor(model => model.video.video_description)</p></br>
        @*<p><strong>Registered users can edit each line in subtitles by clicking on the subtile file name</strong></p>*@
        @*<button class="btn btn-default">@Html.ActionLink("Edit video profile", "Edit", new { id = Model.video.id })</button>*@
    </div>
</div>

<div id="edit_link"><button class="btn btn-default">@Html.ActionLink("Edit video profile", "Edit", new { id = Model.video.id })</button></div>

<div class="panel panel-default" id="tabe_video_profile">
    <!-- Default panel contents -->
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Subtitle name</th>
                    <th>Downloads</th>
                    <th>Language</th>
                    <th>Date created</th>
                    <th>Download Subtitle</th>
                </tr>
            </thead>
            @foreach (var item in Model.subtitles)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.subtitle_file_name, "subtitle_profile", "Subtitle", new { id = item.id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subtitle_download_count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subtitle_language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subtitle_date_created)
                    </td>
                    <td>
                        <button class="btn btn-default">@Html.ActionLink("Download", "download", "Subtitle", new { subtitle_id = item.id }, null)</button>
                    </td>
                </tr>
            }
        </table>

        @using (Html.BeginForm("Upload", "Subtitle", new { video_id = Model.video.id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">
                <!-- File Button -->
                <div class="control-group">
                    @*<label for="file" id="label_file">Choose a file and language to upload a new subtitle file</label>*@
                    <div class="controls" id="file_upload">
                        <input id="file" name="file" class="btn btn-default" type="file">
                    </div>


                    <div class="btn-group">
                        <select class="form-control" id="language" name="language">
                            <option value="English">English</option>
                            <option value="Icelandic">Icelandic</option>
                        </select>

                    </div>

                    <button type="submit" class="btn btn-default">Submit</button><!--Button to submit file-->

                    
                    <button class="btn btn-default" id="request_button">@Html.ActionLink("Request a subtitle", "Request", new { id = Model.video.id })</button>
                </div>

            </div>

        }
    </div>
</div>