@model CrowdSubMain.Models.video

@{
    ViewBag.Title = Html.DisplayFor(model => model.video_title);
}

@{
    ViewBag.Message = Html.DisplayFor(model => model.video_type) + " / " + Html.DisplayFor(model => model.video_year_published);
} 

<div id="video_information">
    <img  id="video_image" src="~/Images/batman-logo.png" />
    <div class="video_profile_general_description">
        <p id="video_description">@Html.DisplayFor(model => model.video_description)</p>
    </div>
</div>



@*<div>
    @Html.DisplayNameFor(model => model.video_date_created)

    @Html.DisplayFor(model => model.video_date_created)

    @Html.DisplayNameFor(model => model.video_date_updated)

    @Html.DisplayFor(model => model.video_date_updated)
</div>*@

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
