@model CrowdSubMain.Models.profile_view_model

@{
    ViewBag.Title = Html.DisplayFor(model => model.video.video_title);
}

@{
    ViewBag.Message = Html.DisplayFor(model => model.video.video_type) + " / " + Html.DisplayFor(model => model.video.video_year_published);
}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-body">
        <div class="media">
            <a class="pull-left" href="#">
                <img src="@Html.DisplayFor(model => model.video.poster_link)" class="media-object" alt="Poster image is missing for this video profile. To fix this please edit video profile and provide us with an link to image" height="190" width="128">
            </a>
            <div class="media-body">
                <p>@Html.DisplayFor(model => model.video.video_description)</p>
            </div>
        </div>
        
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Subtitle name</th>
                            <th>Downloads</th>
                            <th>Language</th>
                            <th>Download Subtitle</th>
                            <th>Date created</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.subtitles)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.subtitle_file_name, "subtitle_profile",  "Subtitle" , new { id = item.id}, null) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.subtitle_download_count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.subtitle_language)
                            </td>
                            <td>
                                @Html.ActionLink("Download", "Profile", "Video", new { id = item.subtitle_video_id }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.subtitle_date_created)
                            </td>
                        </tr>
                    }
            </table>
         
            @using (Html.BeginForm("Upload", "Subtitle", new { video_id = Model.video.id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="file">Upload new subtitle for this video profile: </label>
                <input type="file" name="file" id="file" />

                <input type="submit" />
            }
           
            <ul class="list-inline">
                <li></li>
                <li>@Html.ActionLink("Edit video profile", "Edit", new { id = Model.video.id })</li>
                <li>@Html.ActionLink("Request", "Request", new { id = Model.video.id })</li>
            </ul>
        
    </div>
</div>