@model CrowdSubMain.Models.video_language_search

@{
    ViewBag.Title = "Search Results";
}

@{
    ViewBag.Message = "for a video profile";
}

<div>
    <p>Can't find your title?</p>
    @Html.ActionLink("Create Video Profile", "Create", "Video")

</div>

       


         <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Realised</th>
                    <th>Subtitle Language</th>
                    <th>Subtitle last updated</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.search_pairs)
                {
                    <tr>
                        <td>@Html.ActionLink(item.video_pair.video_title, "Profile", new { id = item.video_pair.id})</td> <!--Link that lead to video profile-->
                        
                        <td>@Html.DisplayFor(modelItem => item.video_pair.video_type)</td>
                        <td>@Html.DisplayFor(modelItem => item.video_pair.video_year_published)</td>
                        

                        @foreach (var sub in item.subtitle_pair)
                        { 
                           
                            if(item.language_keeper.Count() == 2)
                            {
                                <td>@Html.DisplayFor(modelItem => item.language_keeper[0]), @Html.DisplayFor(modelItem => item.language_keeper[1]) </td>
                               
                            
                            }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => sub.subtitle_language)</td>
                                
                            }
                            <td>@Html.DisplayFor(modelItem => sub.subtitle_date_updated)</td>
                        }
                        
                    </tr>
                }    
            </tbody>
        </table>
    

