@model IEnumerable<CrowdSub.Models.subtitle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subtitle_file_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtitle_version_is_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtitle_version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video.video_title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subtitle_file_path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtitle_version_is_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtitle_version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video.video_title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
